body {
    font-family: Arial, sans-serif;
    background-color: black;

  }
  .head{
    color: white;
  }
  .form-container {
    width: 300px;
    margin: 0 auto;
    padding: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .form-group {
    margin-bottom: 10px;
    color: white;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }


.success-message {
  display: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 3px;
}

  